.peoples{
    position: relative;
    width: 100%;
    text-align: center;
}
.people img{
    padding: 0 17px;
}
.people-2 img{
    padding: 0 17px;
}
.people img:nth-child(4){
    position: relative;
    left: 0;
    right: 14rem;
    top: 8.2rem;
}


.text-9 {
     background: #F8F4EF; 
     border-radius: 0px;
     font-size: 30px;
     color: #000;
     padding-left: 30rem;
     padding-right: 30rem;
}

.text-9 h3 {
    padding-top: 3rem;
}

.text-9 img {
    position: relative;
    left: 45rem;
}